@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@400;500;700;800&display=swap');

body{
  background-color: #e5e5e5;
  font-family: 'Anek Odia', sans-serif;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
  width: 100%;
}

.container {
  width: 65%;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 2px 4px lightgray;
  border-radius: 4px;
}

h2 {
  margin: 1rem 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 0;
  font-weight: 500;
}

.submit-btn {
  border-style: none;
  padding: 0.5rem;
  background-color: #212121;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
}

.submit-btn:hover {
  background-color: #33C24A;
  cursor: pointer;
}
.tasks {
  align-items: center;
  justify-content: space-between;
}

.task {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  margin: 0.5rem 0;
}

.left  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.round {
  border: 2.5px solid red;
  padding: 0.6rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.done {
  background-color: #33C24A;
  border:  2.5px solid #33C24A;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/27/White_check.svg');
  color: white;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;

}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag {
  margin-left: 1rem;
  background-color: #e5e5e5;
  padding: 0 0.3rem;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 4px;

}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
  width: 25%;
  position: sticky;
  top: 0;
}

input {
  margin: 1rem 0;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 0.5rem;
}

/* Media queries */

@media(max-width: 992px) {

}

@media(max-width: 768px) {
  main {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    width: 80%;
    margin-bottom: 1rem;
  }
  form {
    width: 80%;
    margin-bottom: 1rem;
    position: relative;
  }
}

@media(max-width: 480px) {
  main {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    width: 80%;
    margin-bottom: 1rem;
  }
  form {
    width: 80%;
    margin-bottom: 1rem;
    position: relative;

  }
}
